/**
 *
 * Apply your custom CSS here
 *
*/

body.background{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    background-size: auto;
    margin-top: 0;
    margin-bottom: 0;
}
img.testdrive-img{
    height: 75%;
    width: 100%;
    overflow-y: auto;
    margin-top: 10%;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

button.test{
    margin-left: 40%;
    align-content: center;
    margin-bottom: 20px;
}
.heading{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: bold ;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}

.title{
    font-size: 18px;
    text-align: center;
    font-weight: bold ;
}

p{
    font-size: 15px;
    padding: 2px;
}

p.label{
    font-size: 20px;
    color: white;
    font-weight: bold ;
}

.label2{
    font-size: 18px;
    color: white;
    margin-left: 35%;
}
/*
.label1 {
    // Other styling..
    font-size: 15px;
    text-align: right;
    clear: both;
    float:left;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    padding: 5px;
}
*/
.nodus-form{
    margin-top: 20%;
    margin-bottom: 5%;
}

.afterSubmit{
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.register-form{
    background-color: #FFF;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.cloud-provider-form{
    background-color: #FFF;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.form-horizontal .control-label{
    padding-top: 7px;
}
.page-center{
    position: relative;
    top: 50%;
    left: 40%;
}

.page-border{
    position: relative;
    top: 30%;
    left: 28%;
    bottom:15%;
}
label {
    font-size: 15px;
    height: 20px;
    margin-top: 10px;
    padding: 5px;
}

input {
    height: 30px;
    border: 1px solid #000;
    margin-top: 10px;
    padding:5px;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select{
    height: 40px;
    border: 1px solid #000;
    margin-top: 10px;
    padding:5px;
}

input.extended {
    height: 30px;
    margin-top: 10px;
    padding:5px;
}
input[type=submit],button,input[type=button]{
    height:35px;
    width: 150px;
    font-size: 15px;
    border: 1px solid black;
    text-decoration: none;
    margin-top: 25px;
    padding-top: 7px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0e62c7;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
input[type=submit]:hover,button:hover,input[type=button]:hover {
    border: 1px solid #0099cc;
    background-color: #0e62c7;
    opacity:0.8;
    color: #ffffff;
}
select.extended {
    height: 40px;
    margin-top: 10px;
    padding:5px;
    font-size: 13px;
}
input.medium[type=text], input[type=number]{
    height: 30px;
    margin-top: 10px;
}

select.medium {
    height: 40px;
    border: 1px solid #000;
    margin-top: 10px;
    padding:5px;
    font-size: 13px;
}

.dropdown{
    font-size: 15px;
    font-color:black;
    font-weight: normal;
}

textarea {
    height:15vh;
    font-size: 20px;
    max-width: 80vw;
    padding:5px;
}

.b1{
    height: 30px;
    border: 1px solid #000;
    margin-top: 10px;
    padding:5px;
}
hr{
    width: auto;
}

html, body{
    height:100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.required-field::after {
    content: "*";
    color: red;
}
.border-invalid {
    border: 1px solid red;
}

#error1 {
    color: red;
}

#error2 {
    color: red;
}

#error3 {
    color: red;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 50%;
    max-width: 30%;
    padding: 0 4px;
}

.column blockquote {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.dimension{
    width:380px;
    height:250px;
}
